<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <div class="input-field">
      <input id="search-input" type="text" placeholder="Discover Sunny hiking "/>
      <label for="search"><i class="material-icons">search</i></label>
    </div>
    <a href="#!" class="brand-logo center">Strangerplaces</a>
    <ul class="right">
      <% if !current_user %>
      <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
      <li>
        <% end %>
        <% if current_user %>
        <%= link_to "Log Out", logout_path %>
        <% end %>
        </li>
    </ul>
  </div>
</nav>
</div>
<!-- STARTmain page-->
<div class="container-full">
<div class="center">
  <h1>DISCOVER NEW PLACES</h1>
</div>
<div class="container-video">
  <video autoplay="autoplay" height="100%" width="100%" loop="loop" src="/assets/TravelLoop02-3852829f0fa9e197c269ad4e8b8bf7f62940072a1bd26490cf392f4dafc5bbf8.mp4"></video>
</div>
</div>
<!-- ENDmain page -->
<!-- START results page -->
<div id="hits"></div>
<script type="text/html" id="hits-template">
  <form>
    <div class="hits">
      {{#hits}}
      <a href="#" class="hit" data-toggle="modal" data-id="{{objectID}}" data-target="#{{objectID}}" >
        <div class="cover-img-bg">
          <div class="cover-img" style="background-image: url('{{main_img}}')">
          </div>
          <div class="cover-img-details">
            <p class="name">
              {{#_snippetResult}}
              {{{_snippetResult.name.value}}}
              {{/_snippetResult}}
              {{^_snippetResult}}
              {{name}}
              {{/_snippetResult}}
            </p>
            <div class="weather"></div>
          </div>
        </div>
      </a>
    <!-- Modal -->
    <div class="modal fade" id="{{objectID}}" tabindex="-1" role="dialog" aria-labelledby="popup">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav modal-place">
                <ul class="nav nav-tabs modal-place tab-modal">
                  <li class="active"><a data-toggle="tab" href="#{{objectID}}-bio">Bio</a></li>
                  <li><a data-toggle="tab" href="#{{objectID}}-photos">Photos</a></li>
                  <li><a data-toggle="tab" href="#{{objectID}}-videos">Videos</a></li>
                  <li><a data-toggle="tab" href="#{{objectID}}-flights">Flights</a></li>
                </ul>
                <div class="modal-body">
                  <div class="tab-content">
                    <div id="{{objectID}}-bio" class="tab-pane fade in active bio">
                      <h1>{{name}}</h1>
                      <p> {{description}} </p>
                    </div>
                    <div id="{{objectID}}-photos" class="tab-pane fade photo">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                            <img src="{{main_img2}}" >
                            <div class="carousel-caption">
                              <h3>Chania</h3>
                              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{main_img3}}" >
                            <div class="carousel-caption">
                              <h3>Chania</h3>
                              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{main_img}}" >
                            <div class="carousel-caption">
                              <h3>Flowers</h3>
                              <p>Beatiful flowers in Kolymbari, Crete.</p>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{main_img}}" >
                            <div class="carousel-caption">
                              <h3>Flowers</h3>
                              <p>Beatiful flowers in Kolymbari, Crete.</p>
                            </div>
                          </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div id="{{objectID}}-videos" class="tab-pane fade videos" style="background-color: black">
                      <!-- <h1>view videos</h1> -->
                      <iframe src="https://player.vimeo.com/video/26135773" width="100%" height="100%" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      <div class="video">
                    </div>
                  </div>
                    <div id="{{objectID}}-flights" class="tab-pane fade flights">
                      <div id="{{objectID}}-flight-information">
                        <br><h3>Find Flights to {{name}}</h3>
                        <ul id='{{objectID}}-results'>
                        </ul>
                        <ul id='{{objectID}}-return'>
                        </ul>
                        <ul id='{{objectID}}-origins'>
                        </ul>
                        <!-- <h1>{{name}}</h1> -->
                        <%= label_tag :airport, "Airport Destination"%>
                        <input type="text" name="airport" class='airport' value={{airport}}>
                        <%= label_tag :origin, "Airport Origin"%>
                        <%= text_field_tag :origin, nil, class:"origin", placeholder:"MIA" %>
                        <%= label_tag :leaveDate, "Leave Date"%>
                        <%= text_field_tag :leaveDate, nil, class:"leave-date", placeholder: 'yyyy-mm-dd' %>
                        <%= label_tag :returnDate, "Return Date" %>
                        <%= text_field_tag :returnDate, nil, class:"return-date", placeholder: 'yyyy-mm-dd' %>
                        <button type="button" class="b" data-objectid="{{objectID}}">&emsp;Go!&emsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!--end modal-->
    {{/hits}}
  </div>
</script>
<script type="text/html" id="no-results-template">
  <div id="no-results-message">
    <p>We didn’t find any results for the search <em>“{{query}}”</em></p>
    <a href="#" class="clear-all">Clear all</a>
  </div>
</div>
</script>
<!-- END results page -->
<!-- log in modal  -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">

  <div class="loginmodal-container">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#login">Login</a></li>
      <li><a data-toggle="tab" href="#signup">Sign up</a></li>
    </ul>

    <div class="tab-content">
      <div id="login" class="tab-pane login-tab fade in active">

        <%= form_tag @user, url: login_path do %>
        <h1>Login to Your Account</h1><br>
        <form>
          <!-- <input type="text" name="user" placeholder="Username"> -->
          <!-- <%= text_field_tag :name, nil, placeholder:"Username" %> -->
          <!-- <input type="text" name="user" placeholder="Username"> -->
          <%= text_field_tag :email, nil, placeholder:"User Email" %>
          <!-- <input type="password" name="pass" placeholder="Password"> -->
          <%= password_field_tag :password, nil, placeholder:"Password" %>
          <!-- <input type="submit" name="login" class="login loginmodal-submit" value="Login"> -->
          <%= submit_tag "Log In", class:"loginmodal-submit"%>
          <% end %>
        </form>
        <a href="#">Forgot Password</a>
        <div class="fb-login-button" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
      </div>
      <div id="signup" class="tab-pane fade">
        <%= form_for @user do |f| %>
        <form>
          <!-- <input type="text" name="user" placeholder="Username"> -->
          <%= f.text_field :name, placeholder:"Username" %>
          <!-- <input type="password" name="pass" placeholder="Email Adress"> -->
          <%= f.text_field :email, placeholder:"Email Address", id: "eml" %>
          <!-- <input type="password" name="pass" placeholder="Password"> -->
          <%= f.password_field :password, placeholder:"Password", id: "pass" %>
          <!-- <input type="password" name="pass" placeholder="Confirm Password"> -->
          <%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
          <!-- <input type="submit" name="login" class="login loginmodal-submit" value="Sign Up"> -->
          <%= f.submit "Register Now", class:"loginmodal-submit" %>
          <% end %>

        </form>
        <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- users favorite places go here modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="heart" aria-labelledby="heart">
<div class="bottom" role="document">
  <div class="fav">
    <p>users favorits places</p>
    <% if current_user%>
    <p><%=current_user.name%>'s profile page</p>
    <% if @favorites %>
    <% @favorites.each do |f| %>
    <%= image_tag f.main_img, :width => "50%" %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>
