<div class="login_pg">
  <% if !current_user %>
  <% end %>
</div>
<% content_for :title do %>Instant-search<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="text" id="q" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" id="facets">
      <div id="companies"></div>
    </div>
    <div class="col-sm-9" id="hits"></div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var hitTemplate = '<div class="hit-instant-search">' +
      '<div class="company">{{{_highlightResult.company.value}}}</div>' +
      '<div class="name">{{{_highlightResult.name.value}}}</div>' +
      '<div class="created_at">{{{created_at}}}</div>' +
      '<div class="email"><a href="mailto:{{{_highlightResult.email.value}}}">{{{_highlightResult.email.value}}}</a></div>' +
    '</div>';

    var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Place.index_name%>',
      urlSync: true
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#q',
        placeholder: 'Search for contacts',
        autofocus: false,
        poweredBy: true
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          empty: 'No results',
          item: hitTemplate
        },
        hitsPerPage: 10
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#companies',
        attributeName: 'city',
        limit: 10,
        templates: {
          header: 'Companies'
        },
        cssClasses: {
          root: 'list-group',
          item: 'list-group-item',
          count: 'badge pull-right'
        }
      })
    );

    search.start();
  });
</script>
<!--
<div class="video">
  <%= video_tag "TravelLoop_001.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>
<div class="weather">
  <h3><%= @today %></h3>
  <h3><%= @description %></h3>
  <h3><%= @degrees %>&nbsp;Degrees Fahrenheit</h3>
</div>
<div class="benagil">
  <%= image_tag "Benagil_Cave.jpg", height: "100%", width: "100%" %>
</div>
<div class="cappadocia">
  <%= image_tag "cappadocia_turkey.jpg", height: "100%", width: "100%" %>
</div>

<div class="hawaii">
  <%= image_tag "ahiumanu_hawaii.jpg", height: "100%", width: "100%" %>
</div>
<div class="machu">
  <%= image_tag "machu-picchu.jpg", height: "100%", width: "100%" %>
</div>
<div class="mohatta">
  <%= image_tag "mohatta_palace.jpg", height: "100%", width: "100%"%>
</div>
<div class="muchangchai">
  <%= image_tag "muchangchai_vietnam.jpg", height: "100%", width: "100%" %>
</div>
<div class="pamukkale">
  <%= image_tag "pamukkale.jpg", height: "100%", width: "100%" %>
</div>
<div class="procida">
  <%= image_tag "Procida-Italy.jpg", height: "100%", width: "100%" %>
</div>
<div class="rapanui">
  <%= image_tag "RapaNui011.jpg", height: "100%", width: "100%" %>
</div> -->
