<div class="login_pg">
  <% if !current_user %>
  <%= link_to "Sign Up or Sign in To Save Your Favorite Places!", login_path %>
  <% end %>
</div>
<div class="video">
  <%= video_tag "TravelLoop_001.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>
<div class="weather">
  <h3><%= @today %></h3>
  <h3><%= @description %></h3>
  <h3><%= @degrees %>&nbsp;Degrees Fahrenheit</h3>
</div>
<div class="benagil">
  <%= image_tag "Benagil_Cave.jpg", height: "100%", width: "100%" %>
</div>
<div class="cappadocia">
  <%= image_tag "cappadocia_turkey.jpg", height: "100%", width: "100%" %>
</div>

<div class="hawaii">
  <%= image_tag "ahiumanu_hawaii.jpg", height: "100%", width: "100%" %>
</div>
<div class="machu">
  <%= image_tag "machu-picchu.jpg", height: "100%", width: "100%" %>
</div>
<div class="mohatta">
  <%= image_tag "mohatta_palace.jpg", height: "100%", width: "100%"%>
</div>
<div class="muchangchai">
  <%= image_tag "muchangchai_vietnam.jpg", height: "100%", width: "100%" %>
</div>
<div class="pamukkale">
  <%= image_tag "pamukkale.jpg", height: "100%", width: "100%" %>
</div>
<div class="procida">
  <%= image_tag "Procida-Italy.jpg", height: "100%", width: "100%" %>
</div>
<div class="rapanui">
  <%= image_tag "RapaNui011.jpg", height: "100%", width: "100%" %>
</div>
