<!DOCTYPE html>
<html>
<head>
  <title>StrangerPlaces</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
</head>

<body>
  <div class="login_pg">
  <% if !current_page?(login_path) %>
    <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
    <% else %><br>
    <%= link_to 'Login', login_path %> | <%= link_to 'Signup', login_path %>
    <% end %>
  <% end %>
</div>
  <%= yield %>
</body>
</html>
